Repository PixarAnimationStudios/OpenUSD-proposals, pull requests merged in 2024-04, with the labels that each got.

#48 Autodesk: Text - Update from suggestions
  proposals/text/README.md
Labels: text

#6 Propose `PickAPI` as a specification for picking customization
  proposals/PickAPI/README.md
Labels: usd-pickapi

#45 Revise Use of Layer Metadata in USD
  proposals/revise_use_of_layer_metadata/README.md
Labels: layer-metadata

#55 Multiple Language Support
  proposals/language/README.md
Labels: text
