Repository PixarAnimationStudios/OpenUSD-proposals, pull requests merged in 2024-07, with the labels that each got.

#65 Variant Set Metadata Proposal
  proposals/variant_set_metadata/README.md
  proposals/variant_set_metadata/example.usda
Labels: variant-set-metadata

#68 Boost Python Removal
  proposals/boost_python_removal/README.md
  proposals/boost_python_removal/compile_times/README.md
  proposals/boost_python_removal/compile_times/pybind11_vs_boost_python1.png
  proposals/boost_python_removal/compile_times/pybind11_vs_boost_python_rerun_adj.png
  proposals/boost_python_removal/module_compile_times.png
Labels: boost-python-removal

#64 MaterialX Versioning in USD
  proposals/materialx-versioning/README.md
Labels: materialx-versioning
