Repository PixarAnimationStudios/OpenUSD-proposals, pull requests merged in 2025-09, with the labels that each got.

#82 Physics proposal for nested bodies
  proposals/physics_nested_bodies/README.md
Labels: physics-nested-bodies

#93 Conditional Visibility UI Hints
  proposals/conditional-ui-visibility/README.md
Labels: conditional-visibility

#85 UI Hints in USD
  proposals/ui-hints/README.md
Labels: ui-hints

#87 Initial version of the OpenExec white paper.
  proposals/openexec/1-inv.png
  proposals/openexec/1.png
  proposals/openexec/2-inv.png
  proposals/openexec/2.png
  proposals/openexec/3-inv.png
  proposals/openexec/3.png
  proposals/openexec/4-inv.png
  proposals/openexec/4.png
  proposals/openexec/5-inv.png
  proposals/openexec/5.png
  proposals/openexec/6-inv.png
  proposals/openexec/6.png
  proposals/openexec/7-inv.png
  proposals/openexec/7.png
  proposals/openexec/README.md
Labels: openexec

#86 Allowing Alternate Implementations of Libwork
  proposals/alternate_implementations_of_libwork/README.md
  proposals/alternate_implementations_of_libwork/build-diagram.png
Labels: libwork-alternate-backends
